body{
  background-color: #a7afee;
}
#pokemons-container{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  .pokemon-card{
color: white;
    border: 1px solid black;
    padding: 1rem 2rem;
    border-radius: 10px;
background-image: linear-gradient(to right top, #b04984, #d667b1, #d964be, #d962cd, #d761dd, #ca61e1, #bc61e5, #ac61e9, #925edf, #775bd4, #5d57c8, #4152bb);    box-shadow: 19px 21px 29px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: 19px 21px 29px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 19px 21px 29px -9px rgba(0,0,0,0.75);
transition: all ease-in-out .7s;

 &:hover{
  transform: scale(1.1);
  background: #b686ff;
  color: rgba(#000000, .8);
  cursor: pointer;
  transform: rotate(360deg);
  transition: transform 0.5s;
  
// filter:blur(10px)
 }
}

}

#searchBtn{
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: #d16ba5;
  color:white;
  cursor: pointer;
  font-size:20px;

  
}
#searchBtn :hover {
  background-color: #925edf;
  color: #4152bb;
}



#app{
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.pokemon-title{
  text-transform: capitalize;
}